---
import type { CollectionEntry } from "astro:content";

import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import Layout from "../layouts/Layout.astro";
import Frame from "../components/Frame.astro";
import ToolBar from "../components/ToolBar.astro";
import Flash from "../components/Flash.astro";
import Photograph from "../components/Photograph.astro";

const messages: CollectionEntry<"messages">[] = await getCollection("messages");
---

<Layout title="Welcome to Astro.">
  <main class="relative flex h-screen items-center justify-start">
    <ToolBar messagesCount={messages.length} />
    <div
      id="intro"
      class="flex h-screen w-1/2 shrink-0 snap-start flex-col justify-center px-[5vw] text-stone-800"
    >
      <div class="flex flex-col gap-8">
        <p
          class="-translate-x-8 transform font-serif text-[12.5vw] leading-normal capsize"
        >
          Galerie
        </p>
        <p class="font-serif text-[8.25vw] leading-normal capsize">du Marcus</p>
      </div>
      <p class="mt-[3.5rem] font-sans text-2xl capsize">
        Presenting <span class="italic">SD4LOVESYOU</span> — A special photo exhibition
        celebrating some of SD4’s favourite moments captured through the lens, eyes,
        hands and very big heart of Marcus!
      </p>
      <button
        id="enter-button"
        class="mt-[5.5rem] flex items-center gap-8 self-start rounded-lg bg-stone-800 px-32 py-8 text-stone-100 font-aside text-xl capsize"
        >Enter
        <Icon name="arrow-right" />
      </button>
    </div>
    <div class="flex items-center justify-between">
      {messages.map((message, idx) => <Frame message={message} index={idx} />)}
    </div>
  </main>
  <Flash />
  <Photograph />
</Layout>

<script>
  const enterButton = document.getElementById("enter-button");
  const exhibitZero = document.getElementById("exhibit-0");

  if (enterButton && exhibitZero) {
    enterButton.addEventListener("click", () => {
      exhibitZero.scrollIntoView({ behavior: "smooth" });
    });
  }
</script>
