---
import type { CollectionEntry } from "astro:content";

interface Props {
  message: CollectionEntry<"messages">;
}

const { message } = Astro.props;
---

<div class="bg-white flex flex-col justify-between p-[0.5vw] w-[10vw] h-[6vw]">
  <p class="font-aside text-sm leading-4 capsize font-bold">
    {message.data.title}
  </p>
  <div class="flex flex-col gap-[0.5vw]">
    <p class="font-aside text-xs capsize self-end italic">2024</p>
    <p class="font-aside text-xs capsize self-end">
      {message.data.image.properties.focalLength}mm f/{
        message.data.image.properties.aperture
      }
      {message.data.image.properties.shutterSpeed}
    </p>
  </div>
</div>
