---
interface Props {
  index: number;
}

const { index } = Astro.props;
---

<div
  id={`overlay-${index}`}
  class="fixed left-0 top-0 z-10 hidden h-screen w-screen bg-black opacity-0 transition-opacity duration-500 contain-strict"
>
</div>

<style>
  .overlay-present {
    display: block;
  }

  .overlay-shown {
    opacity: 0.75;
  }
</style>
