<div
  id="overlay"
  class="fixed left-0 top-0 z-30 hidden h-screen w-screen bg-black opacity-0 transition-opacity duration-500"
>
</div>

<style>
  .overlay-present {
    display: block;
  }

  .overlay-shown {
    opacity: 0.75;
  }
</style>
