---
import { Icon } from "astro-icon/components";

interface Props {
  messagesCount: number;
}

const { messagesCount } = Astro.props;
---

<div
  data-messages-count={messagesCount}
  id="tool-bar"
  class="fixed right-40 top-0 transform -translate-y-full flex bg-stone-800 opacity-10 rounded-xl text-stone-100 font-aside text-xs hover:opacity-100 z-50 transition-all"
>
  <button id="back-button" class="px-20 border-r border-stone-700 py-8">
    <div class="flex justify-center items-center">
      <p class="uppercase">Back</p>
    </div>
  </button>
  <button id="camera-button" class="px-12 py-8 border-r border-stone-700"
    ><Icon name="camera" class="size-20" />
  </button>
  <button id="expand-button" class="px-12 py-8 border-r border-stone-700"
    ><Icon name="expand" class="size-20" />
  </button>
  <button id="next-button" class="px-20 py-8">
    <div class="flex justify-center items-center">
      <p class="uppercase">Next</p>
    </div>
  </button>
</div>

<style>
  .toolbar-shown {
    transform: translateY(50%);
  }
</style>

<script>
  import { toJpeg } from "html-to-image";

  import { $currentExhibitIdx } from "../currentExhibitIdx";

  const toolBar = document.getElementById("tool-bar");
  const messagesCount = toolBar?.dataset.messagesCount;

  // Observation for Intro
  const introObserverCallback = (entries: IntersectionObserverEntry[]) => {
    if (toolBar) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          toolBar.classList.remove("toolbar-shown");
        } else {
          toolBar.classList.add("toolbar-shown");
        }
      });
    }
  };
  const introObserver = new IntersectionObserver(introObserverCallback, {
    threshold: 0.5,
  });
  const introTarget = document.getElementById("intro");
  if (introTarget) {
    introObserver.observe(introTarget);
  }

  // Observation for Exhibits
  const exhibitTargets = [
    ...Array(parseInt(messagesCount ? messagesCount : "0")).keys(),
  ].map((idx) => {
    return document.getElementById(`exhibit-${idx}`);
  });
  const exhibitObserverCallback = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        // console.log(entry.target.id);
        $currentExhibitIdx.set(parseInt(entry.target.id.slice(8)));
      }
    });
  };
  const exhibitObserver = new IntersectionObserver(exhibitObserverCallback, {
    threshold: 0.5,
  });
  exhibitTargets.forEach((target) => {
    if (target) {
      exhibitObserver.observe(target);
    }
  });

  // Add event listeners to back and next buttons
  const backButton = document.getElementById("back-button");
  const nextButton = document.getElementById("next-button");
  backButton?.addEventListener("click", () => {
    const currentExhibitIdx = $currentExhibitIdx.get();

    if (currentExhibitIdx === 0) {
      introTarget?.scrollIntoView({ behavior: "smooth" });
    } else {
      exhibitTargets[currentExhibitIdx - 1]?.scrollIntoView({
        behavior: "smooth",
      });
    }
  });
  nextButton?.addEventListener("click", () => {
    exhibitTargets[$currentExhibitIdx.get() + 1]?.scrollIntoView({
      behavior: "smooth",
    });
  });

  // Add event listener to camera button for screenshots
  const cameraButton = document.getElementById("camera-button");
  cameraButton?.addEventListener("click", () => {
    const currentExhibitIdx = $currentExhibitIdx.get();
    const exhibit = document.getElementById(`exhibit-${currentExhibitIdx}`);

    if (exhibit) {
      toJpeg(exhibit).then(function (dataUrl) {
        var link = document.createElement("a");
        link.download = `Exhibit-${currentExhibitIdx + 1}.jpeg`;
        link.href = dataUrl;
        link.click();
      });
    }
  });

  // Add event listener to expand button for fullscreen
  const expandButton = document.getElementById("expand-button");
  expandButton?.addEventListener("click", () => {
    const root = document.querySelector("html");

    if (document.fullscreenElement) {
      document.exitFullscreen();
    } else {
      if (root?.requestFullscreen) {
        root.requestFullscreen();
      }
    }
  });
</script>
