---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/meta/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content="https://galeriedumarcus.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/meta/og-image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:image:alt"
      content="A ticket for the SD4LOVESYOU photo exhibition presented by Galerie du Marcus, and accompanying text inviting the viewer to visit."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{title}</title>
  </head>
  <body class="bg-noise bg-stone-200">
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "PP Acma";
    src:
      url("/fonts/PPAcma-Medium.woff2") format("woff2"),
      url("/fonts/PPAcma-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "PP Telegraf";
    src:
      url("/fonts/PPTelegraf-Ultralight.woff2") format("woff2"),
      url("/fonts/PPTelegraf-Ultralight.woff") format("woff");
  }

  @font-face {
    font-family: "PP Neue Montreal";
    src:
      url("/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
      url("/fonts/PPNeueMontreal-Book.woff") format("woff");
    font-weight: normal;
  }

  @font-face {
    font-family: "PP Neue Montreal";
    src:
      url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
      url("/fonts/PPNeueMontreal-Medium.woff") format("woff");
    font-weight: bold;
  }

  html {
    font-size: 1vw;
  }

  .disable-scroll {
    overflow-x: hidden;
  }
</style>
